# A/B Testing

A/B testing is a way to compare two versions of a single variable, typically by testing a subject's response to variant A against variant B, and determining which of the two variants is more effective. It includes application of statistical hypothesis testing or "two-sample hypothesis testing" as used in the field of statistics.*(Wikipedia)*

### Introduction
The most successful companies today are the ones that know their customers so well that they can anticipate their needs. Customer analytics and in particular A/B Testing are crucial parts of leveraging quantitative know-how to help make business decisions that generate value. In this project I will cover the ins and outs of how to use Python to analyze customer behavior and business trends as well as how to create, run, and analyze A/B tests to make proactive, data-driven business decisions.

### Loading & Examining our data
Let's begin by loading and examining two datasets: One that contains a set of user demographics and the other a set of data relating to in-app purchases for our meditation app.

In [1]:
# Import pandas 
import pandas as pd

# Load the customer_data
path = "../../00_Common_Data_Sets/csv_files/ab_testing/"
customer_data = pd.read_csv(path+"user_demographics_v1.csv")

# Load the app_purchases
app_purchases = pd.read_csv(path+'purchase_data_v1.csv')

# Print the columns of customer data
print(customer_data.columns)

# Print the columns of app_purchases
print(app_purchases.columns)

# Notice that both datasets have a common 'uid' column. We can use this columns to merge both!

Index(['uid', 'reg_date', 'device', 'gender', 'country', 'age'], dtype='object')
Index(['date', 'uid', 'sku', 'price'], dtype='object')

### Merging on different sets of fields
As we saw both customer_data and app_purchases have a common 'uid' column that we can use to combine them. Also they have a common date column that is named 'date' in app_purchases and 'reg_date' in customer_data.

Let's try merging on both of these columns and look at how this impacts our results.

In [2]:
# Merge on the 'uid' field
uid_combined_data = app_purchases.merge(customer_data, on=['uid'], how='inner')

print(uid_combined_data.head(), "\n")
print("The combined data has a lengt of {} rows as a result.".format(len(uid_combined_data)))

         date       uid            sku  price              reg_date device  \
0  2017-07-10  41195147  sku_three_499    499  2017-06-26T00:00:00Z    and
1  2017-07-15  41195147  sku_three_499    499  2017-06-26T00:00:00Z    and
2  2017-11-12  41195147   sku_four_599    599  2017-06-26T00:00:00Z    and
3  2017-09-26  91591874    sku_two_299    299  2017-01-05T00:00:00Z    and
4  2017-12-01  91591874   sku_four_599    599  2017-01-05T00:00:00Z    and

  gender country  age
0      M     BRA   17
1      M     BRA   17
2      M     BRA   17
3      M     TUR   17
4      M     TUR   17

The combined data has a lengt of 9006 rows as a result.

Now to look at purchases that happened on the date of registration, we can merge customer_data to app_purchases on 'uid', 'date' and 'reg_date' columns. But we see that 'date' and 'reg_date' columns are in different formats. So we need to clean reg_date column.

In [3]:
#First let's look at the data types of both date columns.
print("'date' column is of {} data type and 'reg_date' is of {} data type.".format(app_purchases.date.dtype,
                                                                                   customer_data.reg_date.dtype))

'date' column is of object data type and 'reg_date' is of object data type.

In [4]:
# both of them are object data type. this means they are in string format. we need to convert them to date data type
# but since the formats are the same we can simply slice the 'reg_date' column to extract only date part.

customer_data.reg_date = customer_data.reg_date.str[:10]
customer_data.head()

          uid    reg_date device gender country  age
0  54030035.0  2017-06-29    and      M     USA   19
1  72574201.0  2018-03-05    iOS      F     TUR   22
2  64187558.0  2016-02-07    iOS      M     USA   16
3  92513925.0  2017-05-25    and      M     BRA   41
4  99231338.0  2017-03-26    iOS      M     FRA   59

In [5]:
# Merge on the 'uid' and 'date' field
uid_date_combined_data = app_purchases.merge(customer_data, left_on=['uid', 'date'], right_on=['uid', 'reg_date'],
                                             how='inner')

# Examine the results 
print(uid_date_combined_data.head(), "\n")
print("The combined data has a lengt of {} rows as a result.".format(len(uid_date_combined_data)))

# Note our second result returned fewer rows compared to the first one - 35 compared to 9006! 
# This is because there were fewer matches

         date       uid             sku  price    reg_date device gender  \
0  2016-03-30  94055095    sku_four_599    599  2016-03-30    iOS      F
1  2015-10-28  69627745     sku_one_199    199  2015-10-28    and      F
2  2017-02-02  11604973  sku_seven_1499    499  2017-02-02    and      F
3  2016-06-05  22495315    sku_four_599    599  2016-06-05    and      F
4  2018-02-17  51365662     sku_two_299    299  2018-02-17    iOS      M

  country  age
0     BRA   16
1     BRA   18
2     USA   16
3     USA   19
4     TUR   16

The combined data has a lengt of 35 rows as a result.

### Practicing aggregations

Now we will begin exploring the in-app purchase data in more detail and practice aggregating the dataset in various ways using the .agg() method and then examine the results to get an understanding of the overall data, as well as a feel for how to aggregate data using pandas.

In [6]:
purchase_data = uid_combined_data.copy()

# Calculate the mean purchase price 
purchase_price_mean = purchase_data.price.agg('mean')
print(purchase_price_mean, "\n")

# Calculate the mean and median purchase price 
purchase_price_summary = purchase_data.price.agg(['mean', 'median'])
print(purchase_price_summary, "\n")

# Calculate the mean and median of price and age
purchase_summary = purchase_data.agg({'price': ['mean', 'median'], 'age': ['mean', 'median']})
print(purchase_summary)

# Notice how the mean is higher than the median? This suggests that we have some users who are making a lot of purchases!

406.77259604707973

mean      406.772596
median    299.000000
Name: price, dtype: float64

             price        age
mean    406.772596  23.922274
median  299.000000  21.000000

### Grouping & aggregating

Now let's calculate a set of summary statistics about the purchase data broken out by 'device' (Android or iOS) and 'gender' (Male or Female).

Following this, we'll compare the values across these subsets, which will give us a baseline for these values as potential KPIs to optimize going forward.

In [7]:
purchase_data.head()

,date,uid,sku,price,reg_date,device,gender,country,age
0,2017-07-10,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
1,2017-07-15,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
2,2017-11-12,41195147,sku_four_599,599,2017-06-26T00:00:00Z,and,M,BRA,17
3,2017-09-26,91591874,sku_two_299,299,2017-01-05T00:00:00Z,and,M,TUR,17
4,2017-12-01,91591874,sku_four_599,599,2017-01-05T00:00:00Z,and,M,TUR,17

In [8]:
# Group the data 
grouped_purchase_data = purchase_data.groupby(by = ['device', 'gender'])

# Aggregate the data
purchase_summary = grouped_purchase_data.agg({'price': ['mean', 'median', 'std']})

# Examine the results
print(purchase_summary)

# We see that the mean differs drastically from the median. Each male and female groups have some variabilities.

                    price
                     mean median         std
device gender
and    F       400.747504    299  179.984378
       M       416.237308    499  195.001520
iOS    F       404.435330    299  181.524952
       M       405.272401    299  196.843197

### Calculating KPIs

Now let's calculate the average amount paid per purchase within a user's first 28 days using the purchase_data DataFrame from before.

This KPI can provide a sense of the popularity of different in-app purchase price points to users within their first month.

Note: Prices in data are as of cents...

In [9]:
# first import libraries
import numpy as np
from datetime import datetime, timedelta

In [10]:
purchase_data.dtypes

date        object
uid          int64
sku         object
price        int64
reg_date    object
device      object
gender      object
country     object
age          int64
dtype: object

In [17]:
# convert date columns to datetime
purchase_data.date = pd.to_datetime(purchase_data.date).dt.date
purchase_data.reg_date = pd.to_datetime(purchase_data.reg_date).dt.date

In [27]:
max_purchase_date.isoformat()

'2018-03-24'

In [28]:
# current_date is the last day or max day in our data
current_date = max(purchase_data.date)

# Compute max_purchase_date
max_purchase_date = current_date - timedelta(days=28)

# Filter to only include users who registered before our max date
purchase_data_filt = purchase_data[purchase_data.reg_date < max_purchase_date]

# Filter to contain only purchases within the first 28 days of registration
purchase_data_filt = purchase_data_filt[(purchase_data_filt.date <= 
                        purchase_data_filt.reg_date + timedelta(days=28))]

# Output the mean price paid per purchase
print(purchase_data_filt.price.mean())

# Since our average price is 414 cents which is below $4.99 it seems that 
# our purchasers tend towards the lower priced set of options.

415.7741935483871

### Measuring the average purchase price by cohort

To deepen our understanding,  let's look at the same KPI, average purchase price, and a similar one, median purchase price, within the first 28 days. Additionally, let's look at these metrics not limited to 28 days to compare.

We can calculate these metrics across a set of cohorts and see what differences emerge. This is a useful task as it can help us understand how behaviors vary across cohorts.

Note that in our data the price variable is given in cents.

Instructions 1/3

Compute month1

The price for purchases where:

    (1) purchase_data.reg_date is less than max_reg_date

    (2) purchase_data.date is less than purchase_data.reg_date plus 28 days and np.NaN for purchases that don't meet these conditions.

Now, group purchase_data by gender then device using the .groupby() method.
Aggregate the "mean" and "median" of 'month1' and'price' using the .agg() method in the listed order of aggregations and fields.

In [30]:
np.where((purchase_data.reg_date < max_reg_date) &
                 (purchase_data.date <= purchase_data.reg_date + timedelta(days=28)),
                 purchase_data.price, np.NaN)

array([499., 499.,  nan, ...,  nan,  nan,  nan])

In [31]:
# Set the max registration date to be one month before today
max_reg_date = current_date - timedelta(days=28)

# Find the month 1 values 
month1 = np.where((purchase_data.reg_date < max_reg_date) &
                 (purchase_data.date <= purchase_data.reg_date + timedelta(days=28)),
                 purchase_data.price, np.NaN)

# Update the value in the DataFrame 
purchase_data['month1'] = month1

# Group the data by gender and device 
purchase_data_upd = purchase_data.groupby(by=['gender', 'device'], as_index=False) 

# Aggregate the month1 and price data 
purchase_summary = purchase_data_upd.agg(
                        {'month1': ['mean', 'median'],
                        'price': ['mean', 'median']})

# Examine the results 
print(purchase_summary)

  gender device      month1              price
                       mean median        mean median
0      F    and  390.351351  299.0  400.747504    299
1      F    iOS  432.333333  499.0  404.435330    299
2      M    and  416.415730  499.0  416.237308    499
3      M    iOS  435.206897  499.0  405.272401    299

### Exploring and Visualizing Customer Behavior
Now we will try to visualize, manipulate, and explore KPIs as they change over time. Through a variety of examples, you'll learn how to work with datetime objects to calculate metrics per unit time. Then we move to the techniques for how to graph different segments of data, and apply various smoothing functions to reveal hidden trends. Finally we walk through a complete example of how to pinpoint issues through exploratory data analysis of customer data.

### Parsing dates

Now we will practice parsing dates in Python. Knowing how to properly parse dates is crucial to get the data in a workable format. For reference refer to http://strftime.org/

In [ ]:
# Provide the correct format for the date
date_data_one = pd.to_datetime(date_data_one, format='%A %B %d, %Y')
print(date_data_one)

Instructions 2/4
25 XP
Provide the correct format for the following date:

2017-08-01

In [ ]:
# Provide the correct format for the date
date_data_two = pd.to_datetime(date_data_two, format='%Y-%m-%d')
print(date_data_two)

Instructions 3/4
25 XP
Provide the correct format for the following date.

08/17/1978

In [ ]:
# Provide the correct format for the date
date_data_three = pd.to_datetime(date_data_three, format='%m/%d/%Y')
print(date_data_three)

Instructions 4/4
25 XP
Provide the correct format for the following date:

2016 March 01 01:56

In [ ]:
# Provide the correct format for the date
date_data_four = pd.to_datetime(date_data_four, format='%Y %B %d %H:%M')
print(date_data_four)

Plotting time series data
In trying to boost purchases, we have made some changes to our introductory in-app purchase pricing. In this exercise, you will check if this is having an impact on the number of purchases made by purchasing users during their first week.

The dataset user_purchases has been joined to the demographics data and properly filtered. The column 'first_week_purchases' that is 1 for a first week purchase and 0 otherwise has been added. This column is converted to the average number of purchases made per day by users in their first week.

We will try to view the impact of this change by looking at a graph of purchases as described in the instructions.

Instructions
100 XP
Instructions
100 XP
Read through and understand code shown and then plot the user_purchases data with 'reg_date' on the x-axis and 'first_week_purchases' on the y-axis.

In [ ]:
# Group the data and aggregate first_week_purchases
user_purchases = user_purchases.groupby(by=['reg_date', 'uid']).agg({'first_week_purchases': ['sum']})

# Reset the indexes
user_purchases.columns = user_purchases.columns.droplevel(level=1)
user_purchases.reset_index(inplace=True)

# Find the average number of purchases per day by first-week users
user_purchases = user_purchases.groupby(by=['reg_date']).agg({'first_week_purchases': ['mean']})
user_purchases.columns = user_purchases.columns.droplevel(level=1)
user_purchases.reset_index(inplace=True)

# Plot the results
user_purchases.plot(x='reg_date', y='first_week_purchases')
plt.show()

Pivoting our data
As you saw, there does seem to be an increase in the number of purchases by purchasing users within their first week. Let's now confirm that this is not driven only by one segment of users. We'll do this by first pivoting our data by 'country' and then by 'device'. Our change is designed to impact all of these groups equally.

The user_purchases data from before has been grouped and aggregated by the 'country' and 'device' columns. These objects are available in your workspace as user_purchases_country and user_purchases_device.

As a reminder, .pivot_table() has the following signature:

pd.pivot_table(data, values, columns, index)
Instructions 1/2
50 XP
1
Pivot the user_purchases_country table such that we have our first_week_purchases as our values, the country as the column, and our reg_date as the row.

Take Hint (-15 XP)
2
Now lets look at our device data. Let us pivot the user_purchases_device table such that we have our first_week_purchases as our values, the device as the column, and our reg_date as the row.

In [ ]:
# Pivot the data
country_pivot = pd.pivot_table(user_purchases_country, values=['first_week_purchases'], 
                               columns=['country'], index=['reg_date'])
print(country_pivot.head())

# Pivot the data
device_pivot = pd.pivot_table(user_purchases_device, values=['first_week_purchases'], 
                              columns=['device'], index=['reg_date'])
print(device_pivot.head())

# Having the data in this form is not very conducive to examining trends on its own. 
# Next we will plot the data which should illuminate anything interesting in the data.

xamining the different cohorts
To finish this lesson, you're now going to plot by 'country' and then by 'device' and examine the results. Hopefully you will see the observed lift across all groups as designed. This would point to the change being the cause of the lift, not some other event impacting the purchase rate.

Instructions 1/2
50 XP
Instructions 1/2
50 XP
1
Plot the average first week purchases for each country by registration date ('reg_date'). There are 6 countries here: 'USA', 'CAN', 'FRA', 'BRA', 'TUR', and 'DEU'. Plot them in the order shown.

Take Hint (-15 XP)
2
Now, plot the average first week purchases for each device ('and' and 'iOS') by registration date ('reg_date'). Plot the devices in the order listed.

In [ ]:
# Plot the average first week purchases for each country by registration date
country_pivot.plot(x='reg_date', y=['USA', 'CAN', 'FRA', 'BRA', 'TUR', 'DEU'])
plt.show()

# Plot the average first week purchases for each device by registration date
device_pivot.plot(x='reg_date', y=['and', 'iOS'])
plt.show()

Seasonality and moving averages
Stepping back, we will now look at the overall revenue data for our meditation app. We saw strong purchase growth in one of our products, and now we want to see if that is leading to a corresponding rise in revenue. As you may expect, revenue is very seasonal, so we want to correct for that and unlock macro trends.

In this exercise, we will correct for weekly, monthly, and yearly seasonality and plot these over our raw data. This can reveal trends in a very powerful way.

The revenue data is loaded for you as daily_revenue.

Instructions
100 XP
Instructions
100 XP
Using the .rolling() method, find the rolling average of the data with a 7 day window and store it in a column 7_day_rev.
Find the monthly (28 days) rolling average and store it in a column 28_day_rev.
Find the yearly (365 days) rolling average and store it in a column 365_day_rev.
Hit 'Submit Answer' to plot the three calculated rolling averages together along with the raw data.

In [ ]:
# Compute 7_day_rev
daily_revenue['7_day_rev'] = daily_revenue.revenue.rolling(window=7, center=False).mean()

# Compute 28_day_rev
daily_revenue['28_day_rev'] = daily_revenue.revenue.rolling(window=28, center=False).mean()
    
# Compute 365_day_rev
daily_revenue['365_day_rev'] = daily_revenue.revenue.rolling(window=365, center=False).mean()
    
# Plot date, and revenue, along with the 3 rolling functions (in order)    
daily_revenue.plot(x='date', y=['revenue', '7_day_rev', '28_day_rev', '365_day_rev', ])
plt.show()

# Notice that while there is a lot of seasonality, our revenue seems to be somewhat flat over this time period.

Exponential rolling average & over/under smoothing
In the previous exercise, we saw that our revenue is somewhat flat over time. In this exercise we will dive deeper into the data to see if we can determine why this is the case. We will look at the revenue for a single in-app purchase product we are selling to see if this potentially reveals any trends. As this will have less data then looking at our overall revenue it will be much noisier. To account for this we will smooth the data using an exponential rolling average.

A new daily_revenue dataset has been provided for us, containing the revenue for this product.

Instructions
100 XP
Using the .ewm() method, calculate the exponential rolling average with a span of 10 and store it in a column small_scale.
Repeat the previous step, now with a span of 100 and store it in a column medium_scale.
Finally, calculate the exponential rolling average with a span of 500 and store it in a column large_scale.
Plot the three averages, along with the raw data. Examine how clear the trend of the data is.

In [ ]:
# Calculate 'small_scale'
daily_revenue['small_scale'] = daily_revenue.revenue.ewm(span=10).mean()

# Calculate 'medium_scale'
daily_revenue['medium_scale'] = daily_revenue.revenue.ewm(span=100).mean()

# Calculate 'large_scale'
daily_revenue['large_scale'] = daily_revenue.revenue.ewm(span=500).mean()

# Plot 'date' on the x-axis and, our three averages and 'revenue'
# on the y-axis
daily_revenue.plot(x = 'date', y =['revenue', 'small_scale', 'medium_scale', 'large_scale'])
plt.show()

#  Note that the medium window strikes the right balance. 
# Revenue seems to be growing in this product so it must not be the cause of the overall flat revenue trend!

Visualizing user spending
Recently, the Product team made some big changes to both the Android & iOS apps. They do not have any direct concerns about the impact of these changes, but want you to monitor the data to make sure that the changes don't hurt company revenue. Additionally, the product team believes that some of these changes may impact female users more than male users.

In this exercise you're going to plot the monthly revenue for one of the updated products and evaluate the results.

The dataset user_revenue containing the 'device', 'gender', 'country', 'date', and 'revenue' has been loaded. It has been grouped by month, device, and gender. Note that here, a 'month' column has been extracted from the 'date' column.

Instructions
100 XP
Instructions
100 XP
Pivot user_revenue such that we have the 'month' as the rows (index),'device' and 'gender' as our columns and 'revenue' as our values.
Remove the first and last row of the DataFrame once pivoted to prevent discontinuities from distorting the results. This has been done for you.
Plot pivoted_data using its .plot() method.

In [ ]:
# Pivot user_revenue
pivoted_data = pd.pivot_table(user_revenue, values ='revenue', columns=['device', 'gender'], index='month')
pivoted_data = pivoted_data[1:(len(pivoted_data) -1 )]

# Create and show the plot
pivoted_data.plot()
plt.show()

# From this view, it seems like our aggregate revenue is fairly stable, so the changes are most likely not hurting revenue.

A/B test generalizability
Listed below are a set of decisions that could be made when designing an A/B test. Identify the decision that would not cause an issue in generalizing the test results to the overall user population.

Answer the question
50 XP
Possible Answers
Assigning users to the Test or Variant group based on their signup year.
press
1
Using a hash of the randomly assigned user id to determine user groupings. (CORRECT ANSWER - This is a fine thing to do and a common way to tie the group a user belongs to to their identity.)
press
2
Randomly assigning users within one country to different groups.
press
3
Allowing users to change groups every time they use the service or software.
press